

    body {
        background-image: url(/images/background-photo.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color:#464646;
        
  }
  .main{
    color: white;
    margin: 42px;
    padding: 2px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    
}

  input{
    border: 50%;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color:#ddd;
    background-color: black ;
    text-align: center;
    cursor: pointer; 
  }
  input:hover{
      background-color: #555;
  }